@import 'styles/mixins';
@include theme-aware('background', 'color-background');
@include theme-aware('cardColor', 'color-card');

.container {
  display: flex;
  font-weight: 700;
  transition: all 1s;
}

.pictureAndDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50vw;
  margin: 25vh 25vw;
  transition: all 1s;

  &:hover {
    transform: scale(1.05);
    cursor: pointer;
  }
}

.picture {
  transition: all 1s;
  object-fit: cover;
  object-position: top;
  border-radius: 20px;
  border: 2px solid #7DA0A1 !important;
}

.expanded {
  width: 90vw;
  margin: 5vh 5vw;
  transition: all 1s;

  &.pictureAndDetails {
    &:hover {
      transform: none;
    }
  }

  & .picture {
    object-position: top;
    border: none !important;
    border-radius: 20px 20px 0 0;
  }

}

.details {
  height: 0;
  overflow: hidden;
  transition: all 0.5s;
}

.showDetails { 
  height: 300%;
  margin-top: 10px;
  padding: 10px;
  transition: all 0.5s;
  background-color: #2F323A;
  color: white;
  opacity: 0.5;
  position: relative;
  z-index: 1;
  border-radius: 0 0 20px 20px;
  font-size: 1rem;
}

.description {
  font-weight: 300;
  font-size: 1.2rem;
  font-family: Mate SC;
}