$themes: (
  light: (
    background-image: url('/images/background.png'),
    font-color: #004953,
    backdrop-color: #C4999A,
    color-card: #004953
  ),
  dark: (
    color-background: #37474F,
    color-card: white
  )
)