@import 'styles/mixins';
@include theme-aware('background-image', 'background-image');
@include theme-aware('color', 'font-color');

html,
body {
  overflow: hidden;
  padding: 0;
  margin: 0;
  font-family: 'Abril Fatface', 'Playfair Display SC', 'Mate SC', 'Cedarville Cursive';
  font-size: 100%;
  height: 100%;
}

main {
  background-repeat: no-repeat;
  background-size: cover;
}