@import 'styles/mixins';

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: fit-content;
  overflow-x: hidden;
  height: 90vh;
}

.projectsWrapper {
  display: flex;
  flex-direction: row;
  min-height: 100%;
  width: 100vw;
  overflow: scroll;
}

.recommendationsWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 5vh 1vw;
  min-height: 100%;
  justify-content: center;
  align-items: center;
}