@use 'styles/variables.scss' as *;
@import 'styles/mixins';
@include theme-aware('background', 'color-background');
@include theme-aware('color', 'color-card');

.container {
  display: flex;
  flex-direction: column;
  font-family: Playfair Display SC;
  font-size: 1.5rem;
  padding: 1vh 1vw;
  height: 8vh;
  justify-content: space-between;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 2rem;
}

.socialLinks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 60px;
}

.role {
  font-family: Cedarville Cursive;
  font-size: 1.5rem;
  cursor: pointer;
  outline: none;
  color: #f7fbff;
  position: absolute;
  top: 35px;
  left: 40px;
  transition: opacity 1s;
  opacity: 1;
  
  @media screen and (min-width: $tablet) {
    font-size: 1.7rem;
    top: 32px;
  }

  &.hidden {
    opacity: 0;
  }
}